@inherits UmbracoViewPage<Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <h2>@Model.Value("pageTitle")</h2>
    <p>@Model.Value("contactFormHeader")</p>
    <p>@Model.Value("contactIntro")</p>
</section>